PORT=5000
TURSO_DATABASE_URL=libsql://tu-db-tuusuario.turso.io
TURSO_AUTH_TOKEN=tu_token_de_turso
ADMIN_PANEL_PASSWORD=vamz-902050
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
